* {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.dialog {
	position: fixed;

	width: 60vw;
	height: 25vh;
	margin-left: 20vw;
	margin-right: 20vw;
	bottom: 50px;

	border-style: outset;
	border-radius: 25px;

	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: #2F2FFF7F;
}

.dialog > .button-box > button {
	width: 10vw;
	height: 100%;
	background-color: #7F7FFFFF;
	color: white;
	border-radius: 10px;
	margin-left: 4px;
	font-size: 2.5vmin;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.dialog > .button-box > button:hover {
	background-color: #BFBFFFFF;
}

.dialog > .text-box {
	width: 100%;
	height: 80%;
	color: white;
	/*font-size: 24;*/
	font-size: 3.5vmin;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.dialog > .button-box {
	width: 100%;
	height: 20%;
	text-align: right;
}
